<%= form_for(@credit_risk) do |f| %>
  <% if @credit_risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_risk.errors.count, "error") %> prohibited this credit_risk from being saved:</h2>

      <ul>
      <% @credit_risk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salario_basico %><br>
    <%= f.number_field :salario_basico %>
  </div>
  <div class="field">
    <%= f.label :gastos %><br>
    <%= f.number_field :gastos %>
  </div>
  <div class="field">
    <%= f.label :entradas_adicionales %><br>
    <%= f.text_area :entradas_adicionales %>
  </div>
  <div class="field">
    <%= f.label :personas_acargo %><br>
    <%= f.number_field :personas_acargo %>
  </div>
  <div class="field">
    <%= f.label :cooperativa %><br>
    <%= f.collection_select :cooperative_id, Cooperative.all, :id, :nombre, {prompt: 'Seleccione Cooperativa'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
